:root {
  --b3f: 250, 250, 250;
  --btn-hidden: #b2dffc;
  --btn-visible: #3897f0;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 93.5rem;
  margin: 3rem auto 0;
}

#wrapper > .container {
  display: flex;
  padding: 0 8rem;
}

.phone-app-demo {
  height: 61.8rem;
  background: url('./images/ezgif.com-gif-maker.gif') center no-repeat;
  flex: 1;
}

.form-data {
  width: 100%;
  max-width: 35rem;
  margin-top: 3rem;
}

.form-data form {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  text-align: center;
}

.logo img {
  width: 17.5rem;
  margin-bottom: 2.5rem;
}

.form-data form input {
  width: 100%;
  padding: 1rem 0.8rem;
  margin-bottom: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.2rem;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  outline: none;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.form-data form input:focus {
  border: 1px solid rgb(165, 164, 164);
}
/* .form-group {
  position: relative;
}
.form-label {
  text-align: left;
  font-size: 1.3rem;
  margin-left: 0.9rem;
  color: rgb(165, 164, 164);
  position: absolute;
  top: 25%;
  left: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-control:focus + .form-label {
  font-size: 1rem;
  top: 0;
} */
::placeholder {
  color: rgb(165, 164, 164);
  font-weight: normal;
}

.form-btn {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  height: 3rem;
  background-color: var(--btn-hidden);
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
}

.password-reset {
  font-size: 1.2rem;
  color: #003569;
}

.sign-up {
  text-align: center;
  font-size: 1.4rem;
  color: #262626;
  padding: 2rem 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin: 1rem 0;
}

.sign-up a {
  color: #0095f6;
  font-weight: bold;
}

.get-the-app {
  font-size: 1.4rem;
  text-align: center;
}

.get-the-app span {
  display: block;
  margin: 2rem 0;
  color: #262626;
}

.badges {
  width: 100%;
  display: flex;
  justify-content: center;
}

.badges img {
  max-width: 14rem;
  cursor: pointer;
}

.badges img:first-child {
  margin-right: 1rem;
}

footer {
  padding: 5rem 0;
}

footer .container {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 1.1rem;
  flex-wrap: wrap;
  margin-top: 0;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-nav ul li:not(:last-child) {
  margin-right: 1.3rem;
}

.footer-nav ul li a {
  color: #003569;
}

.copyright-notice {
  font-size: 1.2rem;
  color: #999999;
}

@media (max-width: 900px) {
  .phone-app-demo {
    display: none;
  }

  .form-data {
    margin: 0 auto;
  }

  #wrapper > .container {
    padding: 0;
  }

  footer .container {
    padding: 0 2rem;
    justify-content: center;
  }

  .footer-nav ul {
    justify-content: center;
  }

  .footer-nav ul li {
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  #wrapper {
    padding-top: 0;
  }

  .form-data form {
    background-color: transparent;
    border: none;
    padding: 0 2rem;
  }

  .sign-up {
    background-color: transparent;
    border: none;
    margin: 4rem 0;
  }

  footer {
    padding-bottom: 2rem;
  }
}
